/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-flex-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container {
  color: white;

  width: 60%;
  max-width: 960px;
  margin: 25px auto;
  text-align: center;
  vertical-align: middle;
}

.banner-container h1 {
  font-size: 4rem;
}

.banner-container p {
  margin: 50px auto;
  font-size: 2rem;
}

.buttons {
  height: 200px;
  margin-top: 80px;
}

.mac-button {
  background-color: white;
  height: 100px;
  vertical-align: middle;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
}

.browser-button {
  background-color: #170416;
  vertical-align: middle;
  color: white;
  height: 100px;
  font-size: 2rem;
  border-radius: 50px;
  width: 500px;
}

.min-h250 {
  min-height: 250px;
}

.min-h200 {
  min-height: 200px;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1440px;
}

#main-header {
  min-height: 50px;
  background-color: #3161e0;
  line-height: 50px;
  padding: 10px;
}
/* main */
.white-bg {
  background-color: white;
}

.gray-bg {
  background-color: #d3d3d3;
}

.big-bg {
  background-color: #d3d3d3;
  min-height: 400px;
}

img {
  max-width: 100%;
}

.small-content {
  width: 40%;
  margin: 25px auto;
}

.small-content p {
  margin: 50px auto;
  font-size: 2rem;
}

.small-content h2 {
  font-size: 3rem;
}

.medium-content {
  width: 60%;
  margin: 25px auto;
}

.normal-wawe {
  width: 100%;
  opacity: 18%;
  margin-bottom: -4px;
}

.upside-down-wawe {
  rotate: 180deg;
  width: 100%;
  opacity: 18%;
  margin-bottom: -4px;
}

.big-content {
  width: 100%;
  min-height: 350px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.big-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.big-content p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.big-content-img {
  display: inline-block;
  object-fit: contain;
  text-align: center;
  width: 100%;
}

.big-content-new-adventure h3 {
  font-size: 2.5rem;
  margin: 50px auto;
  text-align: center;
}

.big-content-new-adventure {
  background-image: url(../img/stars.svg);
  background-size: contain;
  margin: 0 5em;
  height: 3em;
}

.mac-button-new-adventure {
  background-color: #8ea0e1;
  height: 100px;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  margin: 50px auto ;
  color: white;
  display: block;
}

/* header */
nav {
  display: flex;
}

ul {
  list-style: none;
  color: white;
}

.ul-link {
  justify-content: space-around;
  padding: 0 50px;
}
.login {
  border-radius: 25px;
  padding: 5px 15px;
}

.link-header {
  text-align: center;
  flex-grow: 3;
  justify-content: space-around;
  align-items: center;
}

.banner {
  min-height: 250px;
  background-color: #3161e0;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  min-height: 550px;
  padding: 50px;
  display: flex;
}
/* footer */
.black-bg {
  background-color: #170416;
  padding-top: 10px;
}

.nav {
  min-height: 200px;
}
.big-nav {
  color: white;
  flex-grow: 2;
  flex-direction: column;
}

.big-nav h4 {
  color: #7288da;
  font-size: 1.5rem;
}

.language-setting{
    padding: 20px 0;
}

.small-nav {
  display: block;
  color: white;
  flex-grow: 1;
}

.small-nav .purple-li strong {
  color: #7288da;
}

.big-nav,
.small-nav {
  margin: 20px;
}

span #languageselector {
  background-color: #170416;
  color: white;
  border: none;
}

.Italyflag {
  width: 30px;
  height: 20px;
}

span {
  margin: 10px;
}
li {
  padding: 5px 0;
}

.footer-registration {
  background-color: #170416;
  min-height: 50px;
  border-top: 1px solid #b2b3b4;
  padding-top: 15px;
}

.registration-box {
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.registration-size-img {
  height: 50px;
  font-size: 1rem;
  border-radius: 50px;
  width: 350px;
  color: white;
  max-width: 100%;
}

.registration-size {
  background-color: #8ea0e1;
  height: 50px;
  font-size: 1rem;
  border-radius: 50px;
  width: 350px;
  color: white;
  width: 150px;
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
}
